body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px; /* Ajustez la largeur maximale pour une meilleure mise en page */
  text-align: center;
  margin: 20px auto; /* Ajout de la marge pour centrer horizontalement */
}

h1 {
  color: #e91e63;
}

.message {
  margin-top: 20px;
}

#loveMessage {
  font-size: 18px;
  margin-bottom: 10px;
}

#daysLeft {
  font-size: 14px;
  color: #888;
}

.loveLetter {
  display: none;
}

.loveImage {
  max-width: 100%; /* Ajustez la largeur de l'image */
  max-height: 75vh;
  height: auto;
  margin: 20px auto;
}

.imageComment {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.hidden {
  display: none;
}

#LoveLetterButton {
  display: none;
}

/* Appliquer le style aux boutons */
.button {
  background-color: #e91e63;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #d81b60;
}

.loveVideo {
  max-width: 100%;
  max-height: 75vh;
  height: auto;
  margin: 10px auto;
}

#finalImage {
  max-width: 100%; /* Ajustez la largeur de l'image */
  max-height: 75vh;
  height: auto;
  margin: 20px auto;
}